---
layout: page
title: Acerca de la autora
permalink: /autora
---
<h2>Begoña Valero</h2>
{% include image.html source="BegonaValero.jpg" position="left" small="yes" nopost="true" %}

<p>Begoña Valero es natural de Banyeres de Mariola (Alicante) y vive en Valencia. Licenciada en Medicina y Cirugía por la Universidad de Valencia, trabaja en 
la Generalitat Valenciana. Es autora de <a href="{{site.url}}/eltrabajodeloslibros/novela"><i>El trabajo de los libros</i></a> (Editorial Denes, 2012), 
<a href="{{site.url}}/lacasadelcompasdeoro/novela"><i>La casa del Compás de Oro</i></a> (Grijalbo, 2017) y <a href="{{site.url}}/untestigollamadocervantes/novela"><i>Un testigo llamado Cervantes (Editorial Sargantana 2024)</i></a>, su nueva novela.</p>

<div class="clear"></div>

{% include image.html source="senadora/5.jpg" position="right" small="yes" nopost="false" %}

<p>
Senadora del Museo de la Imprenta y de las Artes Gráficas de Valencia desde 2018. Un reconocimiento a la labor realizada en la difusión de la historia de la imprenta a través de la literatura: <i>El trabajo de los libros</i> sobre la vida de Gutenberg, y <i>La casa del Compás de Oro</i> sobre la vida de Christophe Plantin (<a href="{{site.url}}/lacasadelcompasdeoro/presentaciones/2018/05/06/senadora/">Ver galería</a>).
</p>

<div class="clear"></div>

{% include image.html source="red_escritoras.jpg" position="left" small="yes" nopost="true" %}
<p>
Desde enero de 2019, Begoña Valero es miembro de la <a href="https://www.casa-mediterraneo.es/la-red-de-mujeres-escritoras-del-mediterraneo-un-foro-de-conocimiento-y-promocion-de-autoras-de-ambas-orillas/">Red de Escritoras del Mediterráneo</a>, puesta en marcha por Casa Mediterráneo, un consorcio público dirigido por el Ministerio de Asuntos Exteriores de España, con sede en Alicante, cuyo principal objetivo es fomentar el intercambio y el conocimiento de los países del Mediterráneo.
</p>

<div class="clear"></div>

{% include image.html source="2020/grupo.jpg" position="right" small="yes" nopost="false" %}
<p>
Desde 2020, Begoña Valero pasa a formar parte del equipo administrador del <a href="https://www.facebook.com/groups/43148375142">Grupo de Novela Histórica</a> en lengua española más numeroso de Facebook, que cuenta con más de 62.000 miembros. 
</p>
<div class="clear"></div>
<p>
En 2020, ha sido jurado del III Premio Nacional de Novela Ateneo Mercantil de Valencia. 
</p><p>
En 2021 y 2022, ha sido jurado del XXXIX y XL Premio Ciudad de Valencia en su modalidad de narrativa en castellano: Premio Vicente Blasco Ibáñez.
</p>
<div class="clear"></div>

{% include image.html source="escritores historia.png" position="left" small="yes" nopost="true" %}
<p>
Desde junio de 2022 es miembro de <a href="http://www.escritoresconlahistoria.es/autores/begona-valero/">"Escritores con la Historia"</a>, asociación a la que pertenece una extensa selección de los mejores escritores de novela histórica que escriben en español, y cuya finalidad es dar a conocer la Historia de España a través de la literatura desde el rigor y el conocimiento.
</p>