---
layout: minimal
destacado: Book Trailer de La casa del Compás de Oro
---
<header class="jumbotron header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-12 add-padding-left">
				<img src="images/thumbs/BegonaValero.jpg" class="img-autora img-circle" alt="Begoña Valero"></img>
			</div>
			<div class="col-md-8 col-sm-12 add-padding-right">
				<h1>Begoña Valero</h1>
				<div class="subh1">Escritora</div>
				<p class="no-padding-bottom no-margin-bottom ">Muchas gracias por visitar mi web. Espero que <i>La casa del Compás de Oro</i>, mi nueva novela, te produzca tanto placer leerla como a mí escribirla. Si lo deseas puedes comentarme tus impresiones, me encantará conocerlas.<br>Recibe un fuerte abrazo,<br><span>Begoña Valero</span></p>
				<a class="btn btn-default btn-rounded btn-lg pull-right text-right" href="{{ site.url }}/autora" role="button">Más acerca de mí</a>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div id="center" class="col-md-8 col-sm-12 cont">
			<div>
			{% include destacado.html %}
			</div>
		
			<div id="libros">
				<h2><a href="{{site.url}}/lacasadelcompasdeoro/novela">La casa del Compás de Oro (Grijalbo)</a></h2>
				<div class="alert alert-warning" role="alert">Disponible a partir del 08 de junio de 2017</div>
				<a class="no-border" href="{{site.url}}/lacasadelcompasdeoro/novela"><img src="{{site.url}}/images/thumbs/casa_compas_portada.jpg" alt="La casa del compás de oro" class="img pull-right img-post"></a>
				<p>«Cualquiera que fuese hallado culpable de imprimir, reproducir o distribuir en cualquier forma libros o escritos considerados como heréticos, así como quien se hallase en posesión de ellos, a sabiendas, será reo de muerte. Si se retracta, en caso de ser hombre será decapitado y si es mujer, enterrada viva. Si no llegara a retractarse la muerte será en la hoguera.»</p>
				<div style="color:rgb(144,64,83);">
				<p class="text-center">En la turbulenta Europa del siglo XVI, asolada por las guerras de religión, el amor por los libros podía llevar a la muerte. </p>
				<p class="text-center">Esta es la historia de un aprendiz que alcanzó la gloria esquivando las llamas y el odio entre hermanos.</p>
				<p class="text-center">Una extraordinaria novela sobre una vida azarosa y la persecución de un sueño.</p>
				</div>

				<div class="clear"></div>
				<a href="{{ site.url }}/lacasadelcompasdeoro/novela" class="btn btn-default btn-md"><span class="glyphicon glyphicon glyphicon-bookmark"></span> Saber más</a>
			<div class="margin-bottom"></div>
			</div>			
			
			<div id="librosTodos">
			<h2>Todos los libros</h2>
			<p>Libros publicados por Begoña Valero:</p>
				<div id="questions">
					<p class="question">
						<a class="no-border" href="{{site.url}}/lacasadelcompasdeoro/novela"><img src="{{site.url}}/images/thumbs/casa_compas_portada.jpg" alt="La casa del Compás de Oro" class="img img-responsive center-block"></a>
						<i>La casa del Compás de Oro</i><br>(2017, Grijalbo)
					</p>
					<p class="question">
						<a class="no-border" href="{{site.url}}/eltrabajodeloslibros/novela"><img src="{{site.url}}/images/thumbs/book1.jpg" alt="El trabajo de los libros" class="img img-responsive center-block"></a>
						<i>El trabajo de los libros</i><br>(2012, Denes)
					</p>
				</div>
			</div>
		</div>
		<div id="right-bar" class="col-md-4 col-sm-12">
				{% include agenda.html %}
		</div>
	</div>
</div>