---
layout: post
title: Fira del Llibre 2019
date: 29/04/2019
---
{% include image.html source="casa_compas_portada.jpg" small="yes" position="left" %}
{% include image.html source="54_fira.jpg" small="yes" position="left" %}
<p>
El lunes, 29 de abril en Librería Atenea de 11:00 a 14:00h (Caseta 75-76), en la 54 <i>Fira del Llibre de València</i> en Jardines de Viveros, Begoña Valero estará firmando ejemplares de su novela <i>La casa del Compás de Oro</i>.
</p><div class="clear"></div>
