---
layout: post
title: Firma de ejemplares de <i>La casa del Compás de Oro</i> en Banyeres de Mariola
date: 16/07/2017
---
<p>Con motivo de las fiestas de La Malena, Begoña Valero firmará ejemplares de su nueva novela en su localidad natal a partir de las 18 horas del domingo día 16 de julio, dentro de las jornadas literarias que organiza Llibreria Baldomero de Banyeres a las que también acudirá Espido Freire.</p>

{% include image.html source="banyeres.jpg" small="yes" position="center" nopost="true" %}
{% include image.html source="libreriabaldomero.jpg" small="yes" position="center" nopost="true" %}
