---
layout: page
title: El trabajo de los libros
permalink: /eltrabajodeloslibros/novela
image: book1.jpg
---
<div class="alert alert-warning" role="alert">Este libro se encuentra actualmente agotado</div>
<h2>Opiniones</h2>
{% include image.html source="book1.jpg" position="right" small="no" nopost="true" %}
<blockquote>
  <p>… investigación rigurosa sobre la personalidad de Gutenberg y sus difíciles relaciones con el entorno que le tocó vivir para que su artilugio llegara a buen puerto. Un trabajo serio, imaginativo, bien articulado y correctamente escrito.</p>
  <footer>Javier Paniagua, <cite title="Source Title">diario EL MUNDO 05/11/2012</cite></footer>
</blockquote>
<blockquote>
  <p>… es un curiosísimo, original y ameno relato que aúna la investigación detectivesca… con la bien documentada recreación del siglo XV alemán…</p>
  <footer>Rafa Marí, <cite title="Source Title">Diario LAS PROVINCIAS 27/12/2012</cite></footer>
</blockquote>
<blockquote>
  <p>… Valero ha conseguido dar forma a una novela con matices históricos y de intriga que se traduce en una rigurosa radiografía del ambiente social, económico y político de la Alemania del siglo XV…</p>
  <footer>B. Jorques, <cite title="Source Title">Diario LEVANTE 29/10/2012</cite></footer>
</blockquote>
<!--URL de presentaciones temporal-->
<!--<a class="btn btn-default btn-md" href="https://eltrabajodeloslibros.wordpress.com/medios-de-comunicacion/" role="button">Ver todas</a>-->

<div class="separator"></div>

<h2>Sinopsis</h2>
{% include image.html source="libros.jpg" position="left" small="no" nopost="true" %}
<p>
La muerte de un joven en una residencia de estudiantes de Maguncia en Alemania, hace recordar a uno de los sospechosos, David Grau, un «Erasmus» de periodismo, todo lo sucedido desde su llegada a la ciudad.
</p><p>
Es el punto de partida de un relato que conduce al lector hasta la Edad Media, donde adquiere especial relevancia la vida de Gutenberg, el inventor de la imprenta, cuya existencia está salpicada de vicisitudes que contribuyen a crear un ambiente de lucha constante por conseguir su objetivo secreto: la estampación de libros con «letras de molde».
</p><p>
La situación social, política y económica del siglo XV está presente en todas las actuaciones del insigne inventor. Ambas historias, pasada y actual, consiguen influenciarse de tal manera que no se puede entender una sin la otra.</p>

<div class="separator"></div>

<h2>Portada</h2>
<img src="{{ site.baseurl }}/images/banner.jpg" class="img-responsive" style="margin-bottom:15px;"></img>
<p>
La imagen de portada de la novela El trabajo de los libros es obra de Paco Roca, Premio Nacional del Cómic 2008 por ARRUGAS, que además cuenta con dos Premios Goya a la mejor película de animación y al mejor guión adaptado en 2012, así como otros galardones; y de Raquel Silvestre. También ha participado en el diseño gráfico de la portada el excelente artista creativo MacDiego.
</p><p>
El trabajo de los libros es una historia actual que participa de la novela histórica. Tiene como punto de partida la muerte de un joven en una residencia de estudiantes.
</p><p>
La narración nos traslada al siglo XV, un momento de enorme trascendencia para la trasmisión del conocimiento a través del invento de la imprenta.
</p><p>
Intriga, suspense e historia se entremezclan en el relato de la vida de Gutenberg, que anima al lector a descubrir los entresijos de un siglo marcado por el final de la Edad Media.<p>
<!--
<div class="separator"></div>
<div class="buttons">
	<a href="https://eltrabajodeloslibros.wordpress.com/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon glyphicon-bookmark"></span> Saber más sobre este libro</a>
</div>
-->