{% include share.html %}
<br><br><br>

<div id="agenda">
	<h2>Próximos eventos</h2>
	
	<table>
		<tbody>
	{% assign curr_date= {{site.time | date: '%s'}}%} <!--El espaciado en {site.time es CLAVE -->
	{% for event in site.agenda %}
		{% assign event_date= {{event.date | date: '%s'}}%}
		{% if event_date > curr_date %}
			<tr>
			<td class="vertical-align-top"><div class="date">
				<span class="binds"></span>
				<span class="month">{% include mes.html mes= event_date %}</span>
				<h1 class="day">{{ event_date | date: "%-d" }}</span><span class="year">{{ event_date | date: "%-Y" }}</span></h1>
			</div></td>
			
			<td class="agenda-info">
				<h4><a href="{{site.url}}/{{event.url}}">{{event.title}}</a></h4>
				<p class="no-justify no-padding-bottom no-margin-bottom">{{ event.content | strip_html | truncatewords: 15 }}</p>
				<p></p>
			</td>
			</tr>
		{% endif %}
	{% endfor %}
		</tbody>
	</table>
	<a href="{{site.url}}/agenda" class="btn btn-default btn-sm pull-right" style="margin-top:20px">Ver toda la agenda</a>
</div>