<div class="margin-bottom"></div>
<footer class="jumbotron footer">
		<div class="container-fluid footer text-center">
			<a href="{{site.url}}" class="no-border"><img src="{{site.url}}/images/thumbs/BegonaValero.jpg" class="img-icon img-circle" alt="Begoña Valero"></img></a>
			<ul class="list-inline">
				<li>&copy; Begoña Valero 2024</li>
				<br>
				<li><span class="glyphicon glyphicon-user"></span> <a href="https://www.fb.me/begonavaleroescritora"> Facebook</a></li>
				<li><span class="glyphicon glyphicon-send"></span><a href="{{site.url}}/contacto"> Contacto</a></li>
				<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:begonavaleroescritora@gmail.com"> begonavaleroescritora@gmail.com</a></li>
				<br>
				<li class="text-small"><b>Web:</b> Oscar José Pellicer</span></li>
			</ul>
		</div>
	</footer>
