---
layout: post
title:  Presentación en El Corte Inglés de Colón, Valencia
categories:  [presentaciones, eltrabajodeloslibros]
tags: [elcorteingles, valencia]
---
<h2>Rotundo éxito en la presentación en El Corte Inglés</h2>
{% include image.html source="elcorteingles/3.jpg" small="yes" position="right" %}

<p>El 23 de octubre por la tarde se celebró la presentación de El trabajo de los libros con lleno absoluto. Además de amigos, la ocasión reunió personalidades de la cultura, la política, administración y justicia que proporcionaron una cálida acogida a los oradores invitados, en un acto de lujo que contó con Javier Paniagua, Ramón Palomar, Francesc Ferrer, McDiego y la autora de la novela, Begoña Valero.</p>
<p>Intervinieron</p>
<p class="ident">
Begoña Valero (autora)<br>
Javier Paniagua (director del centro Alzira-Valencia de la UNED)<br>
Ramón Palomar (escritor-comunicador)<br>
Francesc Ferrer (editor)<br>
McDiego (diseñador gráfico)</p>

{% include imagegallery.html images="elcorteingles/1.jpg, elcorteingles/2.jpg, elcorteingles/4.jpg, elcorteingles/5.jpg, elcorteingles/6.jpg, elcorteingles/7.jpg, elcorteingles/8.jpg, elcorteingles/9.jpg, elcorteingles/10.jpg, elcorteingles/11.jpg" %}