---
layout: post
title:  Presentación en Picanya
categories:  [presentaciones, eltrabajodeloslibros]
tags: [picnya, valencia]
---
<h2>Presentación en Picanya de <i>El trabajo de los libros</i> de Begoña Valero dentro del programa “Maig Literari”</h2>
{% include image.html source="picanya1.jpg" small="yes" position="right" %}
<p>El Ayuntamiento de Picanya presenta su programa de actividades culturales: Maig literari 2013, que reúne a prestigiosos autores y autoras del panorama literario, como Maruja Torres, Ferran Torrent, Espido Freire, Anna Gimeno y Salvador Pons. Este año incluye en su programación la presentación de la novela EL TRABAJO DE LOS LIBROS de Begoña Valero, que se celebró el día 20 de mayo a las 18.30h en la biblioteca de la localidad.
</p><p>
{% include image.html source="picanya2.jpg" small="yes" position="left" %}
Asistieron el alcalde y varias concejalas de Picanya entre las que se encontraba Carmen Amoraga. La tarde contó con un público entregado que abarrotó el local, donde una docena de los asistentes, que pertenecen al grupo amig@s de la literatura, realizó múltiples preguntas tras haber comentado, varios días antes, la novela presentada.
</p><p>
Tras finalizar el acto, la autora firmó en el Libro de Honor.
</p>
<p><a href="http://www.picanya.org/persones/cultura/esdeveniments/maig-literari">Enlace a la web oficial</a></p>