---
layout: post
title:  Feria del libro 2013 en Valencia
categories:  [presentaciones, eltrabajodeloslibros]
tags: [feria-del-libro, valencia]
---
<h2>Begoña Valero en la feria del libro 2013 en Valencia (Jardines de los Viveros)</h2>
{% include image.html source="feria136.jpg" small="yes" position="right" %}
<p>Gracias a los días soleados que han acompañado la Feria del libro, desde el día 1 de mayo, se ha producido una gran afluencia de compradores que han inundado los Jardines de Viveros.</p>
Begoña Valero ha estado firmando su novela EL TRABAJO DE LOS LIBROS en la Feria del Libro de Valencia.
<p></p>
En abril, viernes 26 tarde (de 18 a 20h) caseta 54- 55 El Corte Inglés
<p></p>
En mayo, miércoles 1  mañana (de 12 a 14h) caseta 58-59 Editorial Denes y domingo 5 mañana (de 12 a 14h) caseta  58-59 Editorial Denes</p>
{% include imagegallery.html images="feria131.jpg, feria132.jpg, feria133.jpg, feria134.jpg, feria135.jpg" %}