---
layout: post
title:  Feria del libro 2014 en Valencia
categories:  [presentaciones, eltrabajodeloslibros]
tags: [feria-del-libro, valencia]
---
<h2>Begoña Valero en la feria del libro 2014 en Valencia</h2>
{% include image.html source="feria3.jpg" small="yes" position="right" %}
<p>Begoña Valero estará firmando su novela El trabajo de los libros en los Jardines de Viveros de Valencia:
</p><p class="ident">
Domingo, 27 de abril por la mañana<br>
Sábado, 3 de mayo por la tarde<br>
Domingo, 4 de mayo por la mañana</p>
{% include image.html source="feria2.jpg" small="yes" position="center" %}