---
layout: post
title: Presentación en Torrent
categories: [lacasadelcompasdeoro, presentaciones]
tags: presentacion torrent
---

<h2>
La Casa de la Dona de Torrent acogió la presentación de la novela histórica de Begoña Valero, <i>La Casa del Compás de Oro</i>, organizada por Torrent de Paraules

</h2>
{% include image.html source="torrent2017/0.jpg" small="yes" position="left" %}
<p>
La concejala de Igualdad y Políticas de la Mujer, Encarna Lerma Besó, quién presentó la obra, afirma “que con la lectura te das cuenta de que Begoña es una amante de la literatura y de la historia. Te transporta a la perfección a la época en que se sitúa la acción. Muy recomendable”</p>
<p>
Patricia Cuenca, Presidente de Torrent de Paraules, comentó la obra y dirigió un interesante coloquio con la autora en el que se comentaron los diversos aspectos de la novela así como el proceso de escritura de la misma. El público presente participó animosamente durante el acto literario. 
Todo un placer compartido.</p>

<p><b>Prensa: </b><a href="http://www.nouhorta.eu/index.php/es/nou-torrenti/torrent/item/24525-la-escritora-valenciana-begona-valero-presenta-en-torrent-la-novela-la-casa-del-compas-de-oro">Leer artículo</a></p>

{% include imagegallery.html images="torrent2017/1.jpg, torrent2017/2.jpg, torrent2017/4.jpg, torrent2017/7.jpg, torrent2017/9.jpg, torrent2017/11.jpg, torrent2017/12.jpg, torrent2017/14.jpg" %}