---
layout: post
title: Podcast Pegando la Hebra con María Vicenta Porcar en CVradio
categories: [lacasadelcompasdeoro, medios]
tags: radio cvradio
---
<br>
{% include image.html source="CVradio/intro.jpg" small="yes" position="right" %}
<p>
Asís G. Ayerbe, en su espacio <i>LA FOTO-ANÉCDOTA</i>, nos regala una excelente entrevista con la escritora Begoña Valero autora de <i>La Casa del Compás de Oro</i>. 
</p>
<div class="clear"></div>
<p><b>Entrevista:</b></p>
<iframe id='audio_21295303' frameborder='0' allowfullscreen='' scrolling='no' height='200' style='border:1px solid #EEE; box-sizing:border-box; width:100%;' src='http://www.ivoox.com/player_ej_21295303_4_1.html?c1=ff6600'></iframe>
<p><b>Algunas fotos del evento:</b></p>
{% include imagegallery.html images="CVradio/1.jpg, CVradio/2.jpg, CVradio/5.jpg, CVradio/6.jpg, CVradio/8.jpg" %}