---
layout: post
title:  Encuentro en librería Argot, en CASTELLÓN
categories:  [presentaciones, lacasadelcompasdeoro]
tags: encuentro castellon
image: posts/argot1.jpg
---
<h2>
Begoña Valero nos habló el viernes 3 de noviembre en Argot de su última novela, <i>La casa del compás de oro</i> de Grijalbo editorial.</h2>

{% include image.html source="argot1.jpg" small="yes" position="left" %}
{% include image.html source="argot2.jpg" small="yes" position="left" %}
<p>
La autora nos ha explicado el proceso creativo y el descubrimiento de un personaje clave en la historia de la literatura, como fue el editor Chistophe Plantin. Una novela ágil y tremendamente bien documentada que nos devuelve el placer por leer novela histórica...
</p>
<p><b>Nota de prensa: </b><a href="https://www.vivecastellon.com/noticiario/presentacion-de-la-novela-la-casa-del-compas-de-oro-de-begona-valero-en-argot-26409.html">Seguir leyendo</a></p>
<div class="clear"></div>

