---
layout: post
title:  Club de lectura de El Corte Inglés
categories:  [presentaciones, lacasadelcompasdeoro]
tags: club lectura presentacion corte ingles
---
<p>
Una agradable tertulia en el Club de lectura de El Corte Inglés. En la foto, alguno de los amigos que me acompañaron. <br>
¡Gracias por venir!
</p>
{% include image.html source="lectura_corte2.jpg" small="no" position="center" %}

<p>Tarjeta del evento: </p>
{% include image.html source="lectura_corte1.jpg" small="yes" position="center" %}