---
layout: post
title:  El Club de Lectura de adultos del Colegio Helios de L’Eliana (Valencia) celebra su reunión inaugural con la visita de la autora Begoña Valero
categories:  [presentaciones, lacasadelcompasdeoro]
tags: [eliana, club, lectura]
---
<br>
{% include image.html source="Helios 1.jpg" small="no" position="center" %}

<p>Begoña Valero, autora de <i>La casa del compás de oro</i> (Grijalbo, 2017), visitó ayer nuestro centro para compartir la reunión inaugural de nuestro Club de Lectura de Adultos. En esta reunión, los integrantes del club han compartido una interesante tertulia con la autora acerca de aspectos relacionados con esta novela histórica que se desarrolla en la Europa de siglo XVI en la que el amor por los libros podía llevar a la gloria o a la hoguera.</p>
<p>Nuestro club de lectura, formado por profesores, familiares de alumnos y antiguos alumnos, comienza así un nuevo curso lleno de interesantes lecturas, tertulias literarias y encuentros con autores.</p>

{% include imagegallery.html images="Helios 2.jpg, Helios 3.jpg, Helios 4.jpg" %}