---
layout: post
title:  El periódico La Verdad de Murcia entrevista a Begoña Valero, autora de LA CASA DEL COMPÁS DE ORO "Imprimir un libro religioso en el siglo XVI era una actividad de alto riesgo"
categories:  [presentaciones, lacasadelcompasdeoro]
tags: [murcia, periodico]
---
<br>
{% include image.html source="murcia/0.jpg" small="no" position="center" %}

<h2>
Ámbito Cultural de El Corte Inglés de Murcia recibe a Begoña Valero en un encuentro con lectores de LA CASA DEL COMPÁS DE ORO
</h2>

<p>Una jornada de encuentro con la autora de LA CASA DEL COMPÁS DE ORO, que llevó a conocer más a fondo los entresijos del siglo XVI y las raíces de la leyenda negra española en Flandes a través de su novela.</p>

<p>La cultura musical también estuvo presente. Amenizó la velada el excelente pianista Abdón Alcaráz y la increíble voz de Verónica García Sobrinos.</p>


{% include imagegallery.html images="murcia/1.jpg, murcia/2.jpg, murcia/3.jpg, murcia/4.jpg, murcia/5.jpg, murcia/6.jpg" %}