---
layout: post
title: Tertulia literaria de El Corte Inglés 
categories: [lacasadelcompasdeoro, medios]
tags: tertulia corte ingles
---

<h2>
<b>Mesa redonda</b> Literatura en femenino y plural
</h2>

{% include image.html source="tertulia3.jpg" small="yes" position="left" %}
<p>
En El Corte Inglés de Colón, 27 de Valencia, Ámbito Cultural ha recibido a las escritoras Marta Querol, Begoña Valero y Teresa Guirado, moderadas por Mª Vicenta Porcar, directora del programa radiofónico “Pegando la Hebra”. Las tertulianas han analizado el papel de la mujer en el mundo editorial, la fuerte presencia de las mujeres en el mundo de los libros, como lectoras o editoras, y las dificultades que encuentran las autoras.</p>

<div class="clear"></div>

{% include imagegallery.html images="tertulia2.jpg, tertulia1.jpg" %}