---
layout: post
title:  El Ayuntamiento de València expone las novelas de Begoña Valero EL TRABAJO DE LOS LIBROS y LA CASA DEL COMPÁS DE ORO en la Celebración del 40 aniversario del hermanamiento entre València y Maguncia, ciudad natal de Gutenberg
categories:  [medios, lacasadelcompasdeoro]
tags: [valencia, ajuntament]
---
<br>
{% include image.html source="ajuntament/0.jpg" small="no" position="center" %}

<p>Para celebrar el hermanamiento entre las dos ciudades se ha instalado una exposición en el Salón de Cristal del Ayuntamiento de València del 19 al 23 de noviembre. En una de sus vitrinas se muestran dos novelas de Begoña Valero: EL TRABAJO DE LOS LIBROS, sobre Gutenberg, y LA CASA DEL COMPÁS DE ORO, sobre Christophe Plantin, entre libros impresos en el siglo XVI como, por ejemplo, Blanquerna de Ramón Llull.</p>

<p>También ha estado expuesta la réplica exacta de la prensa atribuida a Gutenberg, cuyo original se conserva en el museo de la imprenta de Maguncia, que ha podido contemplarse en pleno funcionamiento.</p>

<p>Tanto la conmemoración como la exposición ha contado con la ineludible participación del Senado del Museo de la Imprenta de Valencia.</p>


{% include imagegallery.html images="ajuntament/1.jpg, ajuntament/2.jpg, ajuntament/3.jpg, ajuntament/4.jpg, ajuntament/5.jpg, ajuntament/6.jpg, ajuntament/7.jpg" %}