---
layout: post
title: Begoña Valero realiza entrevista en CV radio
categories: [lacasadelcompasdeoro, medios]
tags: cv radio cvradio
---
<br>
{% include image.html source="CV1.jpg" small="yrs" position="left" %}
<p>
En el programa La tarde con Marina de CV Radio Mª Vicenta Porcar se anticipa y celebra el día de las escritoras entrevistando a Begoña Valero, autora de <i>La casa del Compás de Oro</i>.
</p>
<p>
En 1:38 minutos aproximadamente de <a href="https://www.cvradio.es/la-tarde-con-marina-11-10-18">ESTE PODCAST</a> se puede escuchar la entrevista a Begoña Valero.
</p>
{% include image.html source="CV2.jpg" small="no" position="center" %}