---
layout: post
title:   Begoña Valero en la Red de Escritoras del Mediterráneo, organizada por Casa Mediterráneo
categories:  [presentaciones, lacasadelcompasdeoro]
tags: [red escritoras]
---
<br>
<p><b>Casa Mediterráneo</b> (consorcio público dirigido por el Ministerio de Asuntos Exteriores de España y situado en Alicante, cuyo principal objetivo es fomentar el intercambio y el conocimiento de los países del Mediterráneo) <b>ha puesto en marcha la Red de Escritoras del Mediterráneo</b>. Una plataforma que pretende ser un soporte creativo, comunicativo y emocional entre autoras procedentes de tres continentes y círculos culturales distintos, pero unidas por un denominador común mediterráneo.
</p><p>
Los objetivos de la Red de Escritoras, dirigida por el director de Casa Mediterráneo, Javier Hergueta, y coordinada por Marina Vicente, son: crear espacios comunes de participación y colaboración; dar a conocer la figura femenina dentro de la literatura y acercarla al público a través de diversas convocatorias anuales como congresos, premios y becas; transmitir el conocimiento y los valores de escritoras de éxito a mujeres que tratan de abrirse camino en el terreno de la literatura; difundir la labor de las autoras en riesgo por razones religiosas, sociales o políticas; y visibilizar voces femeninas alternativas procedentes de cualquier país mediterráneo.
</p><p>
Las escritoras que participaron en esta cita fueron: <b>Inma Chacón, Vanessa Monfort, Lola Bañon, Aroa Moreno, Rosa Cuadrado, Paz Castelló, Begoña Valero, Elia Barceló, Pilar Blanco, Cristina López Barrio, Olivia Martínez, Raquel López, Vedrana Klepica (Croacia), Galit Dahan-Carlibach (Israel) y Mokthar Amel Ayari (Túnez)</b>. Además, forman parte de la red, aunque no han podido asistir a esta primera reunión: <b>Carmen Posadas, Nativel Preciado, Rosa Montero, Alicia Giménez Bartlett y Eva García Sáenz de Urturi.</b></p>

<p>Fuente: <a href="http://www.revistacasamediterraneo.es/literatura/casa-mediterraneo-pone-en-marcha-la-red-de-escritoras-del-mediterraneo/">Revista Casa Mediterráneo</a></p>

{% include image.html source="red_escritoras0.jpg" small="yes" position="center" %}
{% include image.html source="red_escritoras1.jpg" small="yes" position="center" %}

