---
layout: post
title:  Encuentro de la Red de Escritoras del Mediterráneo
categories:  [presentaciones, lacasadelcompasdeoro]
tags: [mediterraneo escritoras]
---
<br>
{% include image.html source="mediterraneo19/5.jpg" small="yes" position="left" %}
<p>La Red de Escritoras del Mediterráneo impulsada por Casa Mediterráneo en Alicante tiene como finalidad unir voces relevantes de la literatura mediterránea para visibilizar a la mujer escritora. La institución diplomática ha celebrado unas jornadas literarias con 15 escritoras de países del Mare Nostrum. Israel, Croacia, Túnez, Argelia, Malta, Siria, Marruecos y España han participado en el encuentro. Entre las españolas se encuentra Cristina López Barrio, Lola Bañón, Inma Chacón y Begoña Valero.
<p/><p>
Espido Freire ha sido la encargada de inaugurar las tres mesas redondas. Durante la jornada se ha visualizado cómo afecta la situación política a la creación literaria en los diferentes países. También se ha analizado el proceso creativo y la obra de las participantes, narrativa y poesía.
<p/><p>
En la foto del programa se puede consultar el nombre de todas las asistentes.</p>
<p/><p>
Medios que publican la noticia:
</p>
<ul>
<li>
Revista Casa Mediterráneo: <a href="http://casa-mediterraneo.es/medios-de-comunicacion/casa-mediterraneo-resalta-el-papel-de-la-mujer-en-la-literatura/">Enlace</a>
</li><li>
Diario Información: <a href="https://www.diarioinformacion.com/cultura/2019/10/18/mujeres-literatura/2197557.html">Enlace</a>
</li><li>
Diario Alicante Plaza: <a href="https://alicanteplaza.es/Inma-Chacon-Aun-existe-la-etiqueta-de-literatura-femenina-El-termino-nos-discrimina-y-limita?amp=1">Enlace</a>
</li><li>
Diario El Mundo: <a href="https://www.elmundo.es/comunidad-valenciana/alicante/2019/10/18/5da8ab6a21efa02f718b45c4.html">Enlace</a>
</li><li>
Revista Casa Mediterráneo: <a href="http://www.revistacasamediterraneo.es/literatura/la-red-de-mujeres-escritoras-del-mediterraneo-un-foro-de-conocimiento-y-promocion-de-autoras-de-ambas-orillas/">Enlace</a>
</li>
</ul>
{% include imagegallery.html images="mediterraneo19/0.jpg, mediterraneo19/1.jpg, mediterraneo19/2.jpg, mediterraneo19/3.jpg, mediterraneo19/4.jpg" %}

