---
layout: post
title:   Celebración del Día de las Escritoras
categories:  [presentaciones, lacasadelcompasdeoro]
tags: [dia escritoras]
---
<br>
{% include image.html source="dia_escritoras19/5.jpg" small="yes" position="left" %}
<p>Con el título "La visibilidad de las mujeres valencianas en el mundo editorial" se reunieron en Ámbito Cultural de El Corte Inglés de calle Colón de Valencia las escritoras Marta Querol, Rosario Raro y Begoña Valero para celebrar el Día de las Escritoras y analizar la situación actual de las mujeres en la literatura. Entre un público excepcional, en gran parte perteneciente al mundo literario, se encontraba Santiago Posteguillo, el autor de “Yo Julia” (Premio Planeta 2018), quien también participó en el turno de palabra.</p>

{% include imagegallery.html images="dia_escritoras19/0.jpg, dia_escritoras19/1.jpg, dia_escritoras19/2.jpg, dia_escritoras19/3.jpg, dia_escritoras19/4.jpg" %}

