---
layout: post
title:  El Club de lectura de la Casa de la Dona de Torrent analiza la novela La casa del Compás de Oro de Begoña Valero
categories:  [medios, lacasadelcompasdeoro]
tags: ateneo madrid
image: torrent_dona/thumbs/CasaDona2.jpg
---
<br>
{% include image.html source="torrent_dona/CasaDona1.jpg" small="yes" position="left" %}
<p>Las personas integrantes del Club de lectura que dirige Patricia Cuenca de “Torrent de
    Paraules” tuvieron la oportunidad de intercambiar opiniones con Begoña Valero, autora de la
    novela La casa del Compás de Oro, sobre el momento histórico y los personajes que viven en
    sus páginas. Una tarde literaria para navegar por la novela histórica.</p>
<div class="clear"></div>
<!--end-->
{% include imagegallery.html images="torrent_dona/CasaDona2.jpg, torrent_dona/CasaDona3.jpg, torrent_dona/CasaDona4.jpg" %}