---
layout: post
title: Presentación de Un testigo llamado Cervantes en la Librería City Books de Liria
categories:  [presentaciones, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>Mireia Gimenez Higón, escritora, acompañó en la presentación a Begoña Valero en la
    Librería City Books de Liria.</h2>

{% include image.html source="citybooks2024/1CityBooks.jpg" small="yes" position="left" %}

<p>Una tarde repleta de anécdotas que surgieron a raíz del acto celebrado. Además de
    recibir una cálida acogida de José Manuel, su dueño, y estar acompañada durante el
    evento la escritora y amiga Mireia Giménez Higón, la tarde resultó curiosa.
    Entre los presentes se encontraba el hijo de un famoso catedrático de la Facultad de
    Medicina de Valencia que impartió varias asignaturas de la licenciatura de Valero y era
    muy temido por los estudiantes. La autora manifestó que le produjo una sensación
    extraña que, después de tantos años, sea su hijo quien esté escuchándola a ella hablar
    sobre Cervantes.
    </p><p>
    Otra anécdota impresionante corrió a cargo de otro de los asistentes. Un hombre
    apasionado por Cervantes y el Quijote. Se había leído “Un testigo llamado Cervantes”
    ¡ocho veces! Llevaba el libro marcado con post-it y lleno de anotaciones. Dado su
    elevado conocimiento sobre la vida de Cervantes, había analizado la novela a
    conciencia para tratar de encontrar algún fallo. No obstante, manifestó que la historia
    contada había superado con creces su exhaustivo escrutinio.
    Una tarde diferente e inolvidable, como todo lo que le está sucediendo a la autora con
    su novela <i>Un testigo llamado Cervantes</i>.</p>

    <div class="clear"></div>

    {% include imagegallery.html images="citybooks2024/2CityBooks.jpg,citybooks2024/3CityBooks.jpg,citybooks2024/4CityBooks.jpg,citybooks2024/5CityBooks.jpg,citybooks2024/6CityBooks.jpg" %}