---
layout: post
title: Feria del Libro de Valencia del 27 de abril al 5 de mayo
categories:  [medios, untestigollamadocervantes]
tags: [feria libro]
image: testigo3d2.jpg
---

<h2>Éxito de ventas de "Un testigo llamado Cervantes" en la 59 Feria del Libro de Valencia.
    Novela por la que Begoña Valero</h2>

{% include image.html source="2024/feria_vlc.jpg" small="yes" position="center" %}

<p>La Feria del libro de Valencia ha cerrado con éxito de asistencia y ventas. <i>Un testigo
    llamado Cervantes</i> ha tenido una extraordinaria aceptación entre el público
    apasionado por la novela histórica.
</p>

<p>
    Begoña Valero firmó ejemplares en las casetas de El Corte Inglés, Abacus coop, Librería
    Seguí, Librería Railowsky y Bibliomanía para charlar con las personas apasionadas por
    la vida más desconocida de Cervantes. Fue el punto de encuentro de numerosos
    escritores entre los que se encontraba su amigo Gonzalo Giner.</p>

    <div class="clear"></div>
    

{% include imagegallery.html images="2024/feria1.jpg,2024/feria2.jpg,2024/feria2b.jpg,2024/feria2c.jpg,2024/feria2d.jpg,2024/feria3.jpg,2024/feria4.jpg,2024/feria5.jpg,2024/feria6.jpg,2024/feria7.jpg"%}