---
layout: post
title: Presentación de Un testigo llamado Cervantes en la Casa de Cultura de Torrent (Valencia)
categories:  [presentaciones, untestigollamadocervantes]
tags: [valencia]
image: testigo3d2.jpg
---

<h2>Amparo Folgado Tonda, alcaldesa de Torrent, presenta en la Casa de la Cultura la novela de Begoña Valero "Un testigo llamado Cervantes". </h2>

{% include image.html source="2024/torrent.png" small="yes" position="left" %}

<p>¡Cervantes coge impulso!</p><p>
Ya en la calle la TERCERA EDICIÓN y nuevo éxito de asistencia y firma de ejemplares de UN TESTIGO LLAMADO CERVANTES en la presentación de la Casa de la Cultura de Torrent.</p><p>
Fue todo un placer disfrutar de estos momentos con tantas personas apasionadas por nuestro escritor más universal.</p><p>
La organización del acto perfecta. ¿Qué más se puede pedir?</p><p>
¡Gracias a todos por convertir la tarde en un regalo!
Con Amparo Folgado (alcaldesa de Torrent), Carmen Girona (abogada), Martín Forés (Ilustrador, artista y diseñador) y Paz Navarro (CEO del Grupo editorial Sargantana).</p><p>
Un día para recordar
</p>

{% include imagegallery.html images="2024/1.jpg, 2024/2.jpg, 2024/3.jpg, 2024/4.jpg, 2024/5.jpg, 2024/6.jpg" %}

<div class="clear"></div>