---
layout: post
title:  El Ateneo de Madrid acoge de la mano de Antonio Pérez Henares la presentación de la novela de Begoña Valero “Un testigo llamado Cervantes” que muestra al Cervantes más desconocido
categories:  [presentaciones, untestigollamadocervantes]
tags: [valencia]
image: testigo3d2.jpg
---

<h2>El periodista y escritor Antonio Pérez Henares acompañó a Begoña Valero en la
  presentación de su novela “Un testigo llamado Cervantes” en el incomparable
  marco del Ateneo de Madrid junto a Paz Navarro, CEO del Grupo editorial
  Sargantana.</h2>


  {% include image.html source="2024/cartel_ateneo.jpg" small="yes" position="right" %}

<p>Acudieron apasionados de la literatura para conocer a fondo al Cervantes más
  desconocido. El joven soldado del tercio que batalló en Lepanto y con tan solo
  28 años fue capturado por los corsarios berberiscos y trasladado a Argel. Sin
  duda su experiencia en los tercios y las vivencias durante los casi cinco años de
  cautiverio marcaron su obra literaria.</p><p>
  La Agrupación Ateneísta de Novela e Historia Benito Pérez Galdós estuvo
  presente a través de Antonio Pérez Henares, su presidente, y de Olga Luján
  con el objetivo de la divulgación, investigación y debate sobre nuestra increíble
  historia en un encuentro entre novelistas e historiadores. En este acto se logró
  el objetivo.</p><p>
  Portada de la novela: “Cervantes en Lepanto” de Augusto Ferrer-Dalmau.</p>

  {% include imagegallery.html images="2024/ateneo1.jpg, 2024/ateneo2.jpg, 2024/ateneo2b.jpg, 2024/ateneo3.jpg, 2024/ateneo4.jpg, 2024/ateneo5.jpg" %}