---
layout: post
title: Tertulia en Adisto (Asociación de Discapacitados de Torrent)
categories:  [medios, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>Begoña Valero ha intervenido en la Tertulia Literaria de Adisto (Asociación de
    Discapacitados de Torrent) que este año ha estado dedicada al mundo de las Fallas.</h2>

{% include image.html source="adisto2024/Adisto1.jpg" small="yes" position="left" %}

<p>Un año más ADISTO (Asociación de Discapacitados de Torrent) celebra su anual
    Tertulia literaria, que este año ha tenido como protagonista a las Fallas. Un mundo
    muy relacionado con la literatura donde expertos han narrado cómo se vive desde
    dentro. Este año, el poeta Berna Blanch y Begoña Valero han actuado de
    moderadores para conocer cómo se hace un "llibret" de falla, qué son "els jocs
    florals", las dificultades para elaborar los carteles de las fallas con ingenio y gracia,
    qué son "les exaltacions"... Todo un éxito de asistencia.</p>

    {% include image.html source="adisto2024/Adisto2.jpg" small="yes" position="center" %}