---
layout: post
title: Por primera vez se expone en Alcalá de Henares la declaración de Cervantes en un juicio criminal que tuvo lugar en Valencia en 1580 y donde se ratifica su origen alcalaíno
categories:  [presentaciones, untestigollamadocervantes]
tags: [henares]
image: testigo3d2.jpg
---

<h2>Alcalá de Henares acoge con entusiasmo la presentación de Un testigo llamado
    Cervantes de Begoña Valero.</h2>

{% include image.html source="2024/henares.jpg" small="yes" position="left" %}

<p>En la Sala de Tapices del Círculo de Contribuyentes de Alcalá de Henares ha tenido
    lugar la presentación de Un testigo llamado Cervantes. El acto ha acogido a
    autoridades, amigos y estudiosos cervantinos con los que Begoña Valero ha
    compartido por primera vez el documento de la declaración de Cervantes en el juicio
    por un asunto criminal que se celebró en Valencia en 1580, tras ser rescatado de su
    cautiverio en Argel, y donde se puede leer que nuestro escritor más universal es
    natural de "Alcalá de Henares".</p><p>
    Hubo una representación de Escritores con la Historia de la que forma parte Begoña
    Valero y que contó con Ramón Villa, quien acompañó a la autora durante el acto y le
    hizo entrega de la lámina del lienzo que aparece en la portada de Un testigo llamado
    Cervantes, obra de Augusto Ferrer Dalmau, dedicada por el autor. Otros miembros de
    Escritores con la Historia fueron Olga Luján, Sandra Aza y Daniel Arveras.
    Una tarde repleta de sorpresas en la celebración de la Feria del Libro con la firma de
    ejemplares, a tres días de la entrega de los Premios Cervantes en la localidad.</p>

<div class="clear"></div>

{% include imagegallery.html images="lineares_henares/1.jpg, lineares_henares/62.jpg, lineares_henares/3.jpg, lineares_henares/47.jpg, lineares_henares/5.jpg, lineares_henares/50.jpg, lineares_henares/51.jpg, lineares_henares/63.jpg, lineares_henares/10.jpg, lineares_henares/9.jpg" %}