---
layout: post
title: Webinar de Bookolicos para escritores sobre cómo obtener información para documentar una novela
categories:  [presentaciones, untestigollamadocervantes]
tags: [valencia]
image: 2024/webinar.jpg
---
<h2></h2>

{% include image.html source="2024/webinar.jpg" small="no" position="center" %}

{% include image.html source="2024/webinar2.jpg" small="yes" position="right" %}

<p>De la mano de Monse Saavedra, CEO de Bookolicos, Olga Luján y Begoña Valero ofrecieron una amena charla sobre cómo conseguir la información que los escritores necesitan para documentar sus novelas. Ambas interrelacionaron con los asistentes y respondieron a las preguntas planteadas.</p>

<div class="clear"></div>