---
layout: post
title: Día del libro en Ámbito Cultural de El Corte Inglés
categories:  [medios, untestigollamadocervantes]
tags: [cultural corte ingles]
image: testigo3d2.jpg
---

<h2>Celebración del Día del Libro.</h2>

{% include image.html source="2024/encuentro.jpg" small="yes" position="center" %}

<p>Con motivo del Día del Libro, los escritores Begoña Valero, Basilio Trilles y JR
    Barat han dialogado sobre los entresijos de la novela histórica.</p><p>
    Al calor de las confidencias, los tres autores han desgranado las claves del proceso
    creativo y han conversado con el público sobre la imbricación entre literatura e
    historia. Tres estilos diferentes para afrontar una misma aventura narrativa. Tres
    maneras complementarias de contar lo que fue, lo que no fue y lo que pudo ser. Tanto
    Valero como Trilles y Barat han presentado sus últimas obras en Ámbito Cultural de
    Colón.</p>

    {% include image.html source="2024/mesa.jpg" small="yes" position="center" %}