---
layout: post
title: Begoña Valero recibe el galardón "Letras del Mediterráneo" en la categoría de novela histórica
categories:  [premios, medios, lavenganzadelostemplarios, destacado]
tags: []
image: testigo3d2.jpg
---

<h2>La escritora de Banyeres de Mariola (Alicante), Begoña Valero, continúa su escalada de éxito</h2>

{% include image.html source="2024_letras/0.jpg" small="yes" position="left" %}

<p>El 24 de octubre la autora de “Un testigo llamado Cervantes” ha recibido el prestigioso premio Letras del Mediterráneo que otorga la diputación de Castellón por la calidad de su trayectoria literaria en el mundo de las letras. Tras la publicación en enero de su novela sobre Cervantes su carrera ha dado un grandioso giro, que ha supuesto el espaldarazo a muchos años de dedicación. Una novela que acaba de llegar a su quinta edición. También durante este año, ha mantenido un encuentro con el director de cine Alejandro Amenábar donde ha compartido las vivencias de Cervantes en Argel, que él llevará a la pantalla con el título “El cautivo”. Este mismo mes, Valero ha recibido el premio Odilo 2024 a la mejor autora por su novela, que otorga la Semana de Novela Histórica de Cartagena, certamen pionero en este género en España que celebra su 25 aniversario. 
</p><p>
Al acto acudieron personalidades del mundo literario, de la prensa y de la política. Entregó el premio la presidenta de la Diputación de Castellón, Marta Barrachina, a Begoña Valero en la categoría de novela histórica, Vicente Marco en narrativa y Andreu Martín en novela policiaca. </p>

<p>Enlace a la publicación: <a href="https://castellonplaza.com/el-grau-se-convierte-en-una-fuente-de-inspiracion-y-creacion-literaria-con-el-letras-del-mediterraneo">Castellón Plaza</a></p>

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2024_letras/1.jpg,2024_letras/2.jpg,2024_letras/3.jpg,2024_letras/4.jpg,2024_letras/5.jpg,2024_letras/6.jpg,2024_letras/7.jpg,2024_letras/8.jpg,2024_letras/9.jpg,2024_letras/10.jpg,2024_letras/11.jpg,2024_letras/12.jpg,2024_letras/13.jpg,2024_letras/14.jpg,2024_letras/15.jpg,2024_letras/16.jpg" %}