---
layout: post
title: Presentación de Un testigo llamado Cervantes en el Ateneu Literari de Picanya
categories:  [presentaciones, untestigollamadocervantes]
tags: [cultural picanya]
image: testigo3d2.jpg
---

<h2>Dentro de la programación Mayo Literario del Ateneu de Picanya se presentó en la sala
    de exposiciones "Carmen Alborch" la novela de Begoña Valero sobre Cervantes</h2>

{% include image.html source="2024/picanya_cartel.jpg" small="yes" position="right" %}

<p>Una tarde donde personas apasionadas por la novela histórica acompañaron a la
    premiada Begoña Valero durante su presentación de “Un testigo llamado Cervantes”,
    interesadas por descubrir la faceta más oculta de nuestro escritor más universal. La
    presentación estuvo a cargo de Marc Gonzalo Zacarés, quien profundizó en la Valencia
    del siglo XVI que recorre Cervantes en la novela y Javier Gil.</p>

    <div class="clear"></div>
    

{% include imagegallery.html images="2024/picanya1.jpg,2024/picanya2.jpg,2024/picanya3.jpg,2024/picanya4.jpg" %}