---
layout: post
title: Presentación de Un testigo llamado Cervantes en la Casa de la Cultura de Xirivella
categories:  [presentaciones, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>Xirivella acoge la presentación de la última novela de Begoña Valero con deleite. Un
    éxito de asistencia en la localidad donde ha transcurrido gran parte de su vida.</h2>

{% include image.html source="2024/xirivella1.jpg" small="yes" position="left" %}

<p>De nuevo Cervantes brilla con luz propia en Xirivella. De la mano de la alcaldesa Paqui
    Bartual y de Vicente Cotino, Martín Forés (artista ilustrador), Manu Badenes (actor y
    monologuista) y Joaquín Pérez se ha hablado de la exitosa novela de Begoña Valero
    titulada <i>Un testigo llamado Cervantes</i>.</p>

    <div class="clear"></div>
    
<p> Un centenar de amigos y Clavarios de la Virgen de la Salud de Xirivella completaron el
    aforo y una hora de firmas en la Casa de la Cultura fue el broche de oro con el que
    cerró una tarde entrañable donde las emociones estuvieron a flor de piel.</p>

    {% include imagegallery.html images="2024/xirivella2.jpg,2024/xirivella3.jpg,2024/xirivella4.jpg,2024/xirivella5.jpg,2024/xirivella6.jpg,2024/xirivella7.jpg,2024/xirivella8.jpg,2024/xirivella9.jpg,2024/xirivella10.jpg,2024/xirivella11.jpg" %}