---
layout: post
title: Presentación de Un testigo llamado Cervantes en la Biblioteca de Linares (Jaén)
categories:  [presentaciones, untestigollamadocervantes]
tags: [linares]
image: testigo3d2.jpg
---

<h2>Linares acoge con entusiasmo la presentación de la nueva novela de Begoña Valero.</h2>

{% include image.html source="2024/feria.jpg" small="yes" position="left" %}

<p>En la sala central del antiguo edificio del Banco de España de Linares, transformado
    en la Biblioteca Pública Municipal de la localidad, y rodeada de motivos cervantinos
    tuvo lugar la presentación de la nueva novela de Begoña Valero Un testigo llamado
    Cervantes. Estuvo acompañada por su director Luis Rabaneda y José Pellicer, quienes
    contribuyeron a convertir la tarde en un momento de reflexión sobre la vida más
    desconocida de nuestro escritor universal. Asistieron escritores y grandes estudiosos
    del autor del Quijote, interesados por las nuevas aportaciones que Begoña Valero
    introduce en su novela.</p>

<div class="clear"></div>

{% include imagegallery.html images="lineares_henares/15.jpg, lineares_henares/18.jpg, lineares_henares/12.jpg, lineares_henares/16.jpg, lineares_henares/19.jpg, lineares_henares/22.jpg, lineares_henares/25.jpg, lineares_henares/32.jpg, lineares_henares/35.jpg, lineares_henares/37.jpg" %}