---
layout: post
title: Club de lectura Biblio Metro de Torrent
categories:  [medios, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>El club de lectura de Biblio Metro de Torrent invita a Begoña Valero a comentar su novela "Un testigo llamado Cervantes"</h2>

{% include image.html source="2024_metro/cartel.jpg" small="yes" position="left" %}

<p>Pese a la lluvia caída, las personas apasionadas por la novela histórica no quisieron perderse la posibilidad de comentar los entresijos de la novela “Un testigo llamado Cervantes” con la autora de la mano de Marina Estarlich, la bibliotecaria.</p>    

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2024_metro/1.jpg,2024_metro/2.jpg,2024_metro/3.jpg" %}