---
layout: post
title: En el Congreso de escritura ESCRIVIVIR "Un testigo llamado Cervantes" sigue cosechando éxitos
categories:  [medios, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>Begoña Valero ha participado en el Congreso ESCRIVIVIR junto a Ramón Palomar y Rafa Lahuerta para hablar sobre la ciudad como personaje literario, moderados por Emi Zanón.</h2>

{% include image.html source="2024_escrivivir/cartel.jpg" small="yes" position="left" %}

<p>Ya ha finalizado el Congreso Escrivivir 2024 organizado por el Grupo editorial Sargantana y BiblioCafé con una asistencia que ha desbordado las previsiones. Ha sido una experiencia única para todos y ya se espera el próximo congreso para seguir aprendiendo y disfrutando. Al final de cada mesa redonda los autores han estado firmando ejemplares de sus novelas y "Un testigo llamado Cervantes" ha agotado todos los ejemplares puestos a la venta en la librería del congreso.</p>    

<p>¡Un testigo llamado Cervantes sigue cosechando éxitos!</p>    

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2024_escrivivir/2.jpg,2024_escrivivir/3.jpg,2024_escrivivir/4.jpg,2024_escrivivir/5.jpg,2024_escrivivir/6.jpg,2024_escrivivir/7.jpg" %}