---
layout: post
title:  Lanzamiento oficial en Madrid de la novela de Begoña Valero Un testigo llamado Cervantes
categories:  [presentaciones, untestigollamadocervantes]
tags: [ilunion, madrid]
image: testigo3d2.jpg
---
<h2>Rotundo éxito en la presentación en El Hotel Ilunion de Madrid</h2>
{% include image.html source="madrid-testigo/5.jpg" small="yes" position="center" %}

<p>
El III Encuentro literario celebrado en Madrid termina con un éxito de asistencia. Olga Luján ha reunido a cerca de 130 personas para facilitar el contacto entre escritores, lectores, editoriales, medios de comunicación, clubs de lectura y personas influyentes en redes sociales. Destacadas figuras del panorama literario como Antonio Pérez Henares, Isabel San Sebastián, Inocencio Arias, Alicia Vallina, entre otros, participaron en el evento donde se celebró el lanzamiento oficial de la novela de Begoña Valero titulada Un testigo llamado Cervantes. Ramón Villa hizo entrega a la autora de una lámina numerada del lienzo de Augusto Ferrer-Dalmau Cervantes en Lepanto, que ha servido de portada para la novela. Estuvo presente una nutrida representación del grupo editorial Sargantana.
</p>
<p><a href="https://www.instagram.com/reel/C254PiTNiq7/?igsh=MWYwZDR4ZWQ0ZHVkbg==">Ver vídeo del evento</a></p>

{% include imagegallery.html images="madrid-testigo/4.jpg, madrid-testigo/3.jpg, madrid-testigo/2.jpg, madrid-testigo/1.jpg" %}