---
layout: post
title: El Pedernoso celebra el primer encuentro Quijote Negro e Histórico con Begoña Valero
categories:  [medios, untestigollamadocervantes]
tags: []
image: testigo3d2.jpg
---

<h2>Se han reunido en El Pedernoso un elenco de grandes escritores que han llevado sus últimas novelas a los clubs de lectura de la comarca que han acudido al evento.</h2>

{% include image.html source="2024_pedernoso/cartel.jpg" small="yes" position="left" %}

<p>Con éxito total de asistencia y venta de libros ha concluido un certamen que por primera vez se celebra en esta localidad de La Mancha donde se han dado cita importantes autores del panorama literario español. La recién premiada Begoña Valero con el Premio ODILO 2024 a la mejor autora de novela histórica por "Un testigo llamado Cervantes" anunció en exclusiva para los asistentes al evento que le habían otorgado también el Premio Letras del Mediterráneo que recogerá el 24 de octubre en Castellón.</p>

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2024_pedernoso/3.jpg,2024_pedernoso/4.jpg,2024_pedernoso/5.jpg,2024_pedernoso/6.jpg,2024_pedernoso/7.jpg,2024_pedernoso/8.jpg,2024_pedernoso/9.jpg,2024_pedernoso/10.jpg,2024_pedernoso/11.jpg,2024_pedernoso/12.jpg,2024_pedernoso/13.jpg,2024_pedernoso/14.jpg,2024_pedernoso/15.jpg" %}