---
layout: post
title: Éxito de ventas de "Un testigo llamado Cervantes" en la Feria del Libro de Elche 2025
categories: [medios, untestigollamadocervantes]
tags: []
image: 2025_elche/cartel.jpg
---

<h2>La novela de autor no local más vendida en la Feria del Libro de Elche es la de Begoña Valero que lleva por título "Un testigo llamado Cervantes"</h2>

{% include image.html source="2025_elche/cartel.jpg" small="yes" position="left" %}

<p>Ilicitanos y visitantes han disfrutado de la Feria del Libro de Elche 2025. Una cita con la literatura que se instaló en la Plaza del Congreso Eucarístico, por la que pasaron alrededor de 25.000 personas desde el viernes, 4 de abril, por la tarde hasta el domingo, 6 de abril, a mediodía.</p>

<p>La edil de Comercio, Caridad Martínez, ha señalado que durante el fin de semana se vendieron más de 8.000 libros, un millar más que en 2024. La novela "Un testigo llamado Cervantes" ha sido el libro más vendido entre los autores no locales, según Onda Cero y la Librería Ali i Truc.</p>

<p>Durante todo el fin de semana pasaron más de 40 autores locales y nacionales como Benjamín Prado, Juan Eslava Galán, Begoña Valero, Raquel Lanseros, Reyes Calderón, Gema Over, María Esclapez, Javier Cuesta o Lorena Gascón, entre otros, y se realizaron más de 130 firmas de libros.</p>

<p><a href="https://www.elche.es/2025/04/exito-de-la-feria-del-libro-con-alrededor-de-25-000-visitantes/" target="_blank">Leer la noticia en elche.es</a></p>

<div class="clear"></div>

{% include imagegallery.html images="2025_elche/1.jpg,2025_elche/2.jpg,2025_elche/3.jpg,2025_elche/4.jpg,2025_elche/5.jpg,2025_elche/6.jpg,2025_elche/7.jpg,2025_elche/8.jpg,2025_elche/9.jpg,2025_elche/10.jpg,2025_elche/11.jpg" %} 