---
layout: post
title: Begoña Valero recibe el Premio de la Crítica Valenciana 2025 en Narrativa
date: 2025-10-25
image: 2025_premio/Premio8.jpg
categories: [premios, medios, untestigollamadocervantes, destacado]
tags: [premios, critica literaria, valencia, cervantes, sargantana, rambleta]
---

<h2>La Rambleta acoge los XLIV premios de la Crítica Literaria Valenciana</h2>

{% include image.html source="2025_premio/Premio1.jpg" small="yes" position="left" %}

<p>El Centro Cultural Rambleta ha celebrado la gala de entrega de los XLIV premios de la Crítica Literaria Valenciana, con la presencia de los cuatro ganadores: Adela Cortina, Jorge Pérez Cebrián, Clàudia Serra y Begoña Valero.</p>

<p>Begoña Valero obtuvo el premio en Narrativa del jurado compuesto por José Luis Ferris, como presidente, Eduardo Almiñana, como secretario, y María García-Lliberós, Rosa Sanmartín, Carmen Velasco, Rosana Ferrando Mateu y Lucía Márquez, como vocales. Acordó por unanimidad otorgar el Premio de la Crítica Valenciana 2025 en la modalidad de Narrativa a <em>Un testigo llamado Cervantes</em>, de la autora Begoña Valero (Editorial Sargantana, 2024), por ser una novela de amplios méritos entre los que hay que destacar la capacidad de la autora para diluir un arduo trabajo de investigación en una narrativa fluida y seductora.</p>

{% include image.html source="2025_premio/Premio2.jpg" small="yes" position="right" %}

<p>En Ensayo y Crítica, el galardón fue para Adela Cortina; en Literatura Dramática para Clàudia Serra; y en Poesía para Jorge Pérez Cebrián.</p>

<a href="https://www.levante-emv.com/cultura/2025/10/26/rambleta-acoge-xliv-premios-critica-123036642.html" target="_blank">Leer más en levante-emv.com</a>

<p><a href="https://www.lasprovincias.es/culturas/adela-cortina-claudia-serra-jorge-perez-cebrian-20251026150640-nt.html" target="_blank">Ver también en lasprovincias.es</a></p>

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2025_premio/Premio3.jpg,2025_premio/Premio4.jpg,2025_premio/Premio5.jpg,2025_premio/Premio6.jpg,2025_premio/Premio7.jpg" %}
