---
layout: post
title: Begoña Valero, galardón Letras del mediterráneo 2024, presenta su novela "La venganza de los templarios" de la mano de Alejandro Clausell y Paz Navarro
date: 2025-10-01
image: 2025_castellon/1.jpg
categories: [medios, lavenganzadelostemplarios, destacado]
tags: [castellon, templarios, presentacion, letras mediterraneo, diputacion]
---

<h2>La presentación de la novela a los medios de comunicación tuvo lugar este miércoles 1 de octubre, a las 12:00 horas en el patio de las Aulas de Diputación de Castellón</h2>

{% include image.html source="2025_castellon/1.jpg" small="yes" position="left" %}

<p>Todos los medios de comunicación de la Provincia de Castellón recogen hoy la presentación de la novela "La venganza de los templarios" de Begoña Valero, distinguida con el prestigioso Galardón Letras del Mediterráneo de Novela Histórica que concede la Diputación.</p>

<p>Tras el éxito de "Un testigo llamado Cervantes", galardonada con el Premio ODILO 2024 a la mejor autora de novela histórica y el Premio de la Crítica Literaria Valenciana 2025 en narrativa, Begoña regresa con una novela histórica que transcurre, entre otros escenarios, en el Maestrazgo castellonense.</p>

{% include image.html source="2025_castellon/2.jpg" small="yes" position="right" %}

<p>La venganza de los Templarios combina novela histórica, thriller, misterio medieval y aventura con tintes de saga familiar. Un relato que busca atraer tanto a los amantes del rigor histórico, como a los lectores que buscan emoción e intriga.</p>

<a href="https://www.eldebate.com/espana/comunidad-valenciana/20251001/begona-valero-galardon-letras-mediterraneo-2024-presenta-novela-venganza-templarios_339998.html" target="_blank">Leer más en eldebate.com</a>

<p><a href="https://www.elperiodic.com/castellon/begona-valero-galardon-letras-mediterraneo-2024-presenta-novela-venganza-templarios_1037944" target="_blank">Ver también en elperiodic.com</a>

<a href="https://www.instagram.com/reel/DPTX9i-k3-i/?igsh=ZGptdzRyemdvMDdj" target="_blank">Ver vídeo en Instagram</a></p>
