---
layout: post
title: Begoña Valero habla sobre "La vida del Cervantes más desconocido" para el alumnado del Colegio La Purísima de Torrent
date: 2025-11-19
image: 2025_purisima/Colegio Purísima1.jpg
categories: [presentaciones, untestigollamadocervantes]
tags: [torrent, cervantes, colegio, educacion, literatura]
---

<h2>Alrededor de sesenta alumnos de La Purísima de Torrent se dieron cita en el Auditorio del colegio para conversar con Begoña Valero sobre Cervantes</h2>

{% include image.html source="2025_purisima/Colegio Purísima1.jpg" small="yes" position="left" %}

<p>El alumnado de último curso de ESO compartió una agradable charla con la autora de la premiada novela "Un testigo llamado Cervantes" junto a su profesor de Literatura Aitor Sánchez. Interesados por conocer la vida de nuestro insigne escritor formularon preguntas y se sorprendieron por las hazañas vitales del autor del Quijote.</p>

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2025_purisima/Colegio Purísima2.jpg,2025_purisima/Colegio Purísima3.jpg,2025_purisima/Colegio Purísima4.jpg,2025_purisima/Colegtio prurísima5.jpg" %}
