---
layout: post
title: Torrent Històrica cierra el ciclo de charlas con Begoña Valero y Juan Francisco Ferrándiz
date: 2025-11-21
image: 2025_torrent/TorrentHistórica0.jpg
categories: [presentaciones, lavenganzadelostemplarios]
tags: [torrent, templarios, historica, siglo XIV]
---

<h2>"La venganza de los templarios" trasladó a los asistentes al siglo XIV para comprender mejor este periodo histórico</h2>

{% include image.html source="2025_torrent/TorrentHistórica0.jpg" small="yes" position="left" %}

<p>El viernes 21 de noviembre, Torrent Històrica terminó el ciclo de charlas a las 20 horas con "El siglo que no nos contaron", a cargo de los autores alicantinos Begoña Valero (<em>La venganza de los templarios</em>) y Juan Francisco Ferrándiz (<em>El juicio del agua</em>) que condujo la comunicadora y escritora Mireia Giménez Higón en el Salón de Actos del Ayuntamiento de Torrent.</p>

<a href="https://www.hellovalencia.es/torrent-historica-2025/" target="_blank">Leer más en hellovalencia.es</a>

<div class="clear"></div>

<p>Galería fotográfica:</p>

{% include imagegallery.html images="2025_torrent/Torrent Histórica1.jpg,2025_torrent/Torrent Histórica2.jpg,2025_torrent/Torrent Histórica3.jpg" %}
