---
layout: post
title: Begoña Valero celebra el Día Internacional de la Mujer en Banyeres de Mariola (Alicante) con la presentación de su premiada novela UN TESTIGO LLAMADO CERVANTES
categories: [presentaciones, untestigollamadocervantes, uncuentomagicosobrelasfallas]
tags: []
image: testigo3d.jpg
---

<h2>Begoña Valero presentó en su localidad natal, Banyeres de Mariola (Alicante), UN TESTIGO LLAMADO CERVANTES y un cuento que acaba de publicar con Editorial Sargantana, ilustrado por Martín Forés y la colaboración especial de Paco Roca en la contraportada</h2>

{% include image.html source="2025_banyeres/begona.jpg" small="yes" position="left" %}

<p>Banyeres de Mariola (Alicante), localidad natal de la escritora, acogió con un emotivo y caluroso recibimiento a la autora. Tanto familia como vecinos y amigos se acercaron para conocer más sobre Cervantes y descubrir su última obra recién publicada: UN CUENTO MÁGICO SOBRE LAS FALLAS.
</p><p>La autora lleva años viviendo en Valencia y ha regresado para celebrar este día en la Casa de Cultura de la localidad. Agradeció la invitación al ayuntamiento, a su alcalde y, especialmente, a Juan Antonio Calabuig, cronista de Banyeres de Mariola desde 1977, quien tuvo la amabilidad de acompañarla en la presentación donde Begoña Valero pudo compartir emociones con sus vecinos de infancia, compañeras de colegio, familiares y amigas, personas que conocieron a sus padres y abuelo don Daniel, director de las escuelas nacionales.
</p><p>Sin duda, fue una tarde memorable que terminó con una hora de firma de ejemplares.
</p><p>¡Feliz Día de la Mujer!
</p>
<div class="clear"></div>

{% include imagegallery.html images="2025_banyeres/0.jpg,2025_banyeres/1.jpg,2025_banyeres/2.jpg,2025_banyeres/3.jpg,2025_banyeres/4.jpg,2025_banyeres/5.jpg,2025_banyeres/6.jpg,2025_banyeres/7.jpg,2025_banyeres/8.jpg" %} 