---
layout: post
title: Un testigo llamado Cervantes en la Feria del Libro Histórico de PUY DU FOU España
categories: [medios, untestigollamadocervantes]
tags: []
image: 2025_puy/1.jpg
---

<h2>Begoña Valero se reúne en Puy du Fou con autores que son un referente en novela histórica como Antonio Pérez Henares, José Calvo Poyato y Luis Zueco.</h2>

{% include image.html source="2025_puy/0.jpg" small="yes" position="left" %}

<p>Un día excepcional en Puy de Fou donde se congregaron grandes escritores en una jornada cargada de buena literatura y firma de ejemplares. Frente a la caseta de la editorial Sargantana posaron junto a Begoña Valero el artífice de esta espectacular Feria del Libro Histórico, el genial escritor y periodista Antonio Pérez Henares y compañeras de letras como María Vila, Sandra Aza y Rafaela Cano. También estuvieron presentes Nieves Michavila, María Reig y Mario Villén Lucena.</p>

<p>No faltó José Calvo Poyato para deleitar a los asistentes con su conferencia, Juan Eslava Galán y Luis Zueco.</p>

<p>Tampoco quisieron perderse la foto ni Cervantes ni Quevedo.</p>

<div class="clear"></div>

{% include imagegallery.html images="2025_puy/1.jpg,2025_puy/2.jpg,2025_puy/3.jpg,2025_puy/4.jpg,2025_puy/5.jpg" %} 