<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  {% include head.html %}		<!--Head tag-->
  <body>
  <div class="header-img"><img style="display: none; height:0px; width: 0px;" src="{{site.url}}/images/banner-books.jpg" alt=""></div>
    {% include header.html %}	<!--Navbar-->
		{{ content }}
    {% include footer.html %}	<!--Footer-->
    <script src="{{site.url}}/js/jquery.min.js"></script>
    <script src="{{site.url}}/js/bootstrap.min.js"></script>
	<script src="{{site.url}}/js/lightbox.js"></script>
	
  </body>
</html>
